@import "tailwindcss";

:root {
  --background: #F9F7F2;
  --foreground: #221010;
  --primary: #ec1313;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-header: var(--font-newsreader);
  --font-display: var(--font-playfair-display);
}

/* quando precisar de tema escuro */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: ;
    --foreground: ;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
